<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    PAG. RELATORIO (ADMIN)
    <p>
        AQUI vai ficar
    <ul>
        <li>Gerador de Relatórios
            <ul>
                <li>Componente que gera relatórios personalizados com base nas solicitações de refeição.</li>
                <li>Responsável por processar os dados e exibir os relatórios de maneira clara e compreensível.</li>
            </ul>
        </li>
        <li>Previsão de Demanda
            <ul>
                <li>Componente que exibe a previsão de demanda futura por refeições.</li>
                <li>Utiliza algoritmos de previsão para calcular e apresentar as tendências de consumo.</li>
            </ul>
        </li>
    </ul>
    </p>
</body>

</html>